<ion-header>
  <ion-toolbar>
    <ion-title>登陆</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="fixed">账户:</ion-label>
      <ion-input type="text" placeholder='手机号/账户'></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">密码:</ion-label>
      <ion-input type="password" placeholder='请输入密码'></ion-input>
    </ion-item>

    <ion-item class="list_end" lines="none">
      <span slot="start">
        手机快速注册
      </span>
      <span slot="end">
        忘记密码
      </span>
    </ion-item>
  </ion-list>

  <ion-button expand="block" class="login_btn">登录</ion-button>
</ion-content>