<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button text="返回"></ion-back-button>
        </ion-buttons>
    <ion-title>输入密码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="fixed">密　　码:</ion-label>
      <ion-input type="password" placeholder='请输入密码'></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">确认密码:</ion-label>
      <ion-input type="password" placeholder='请输入密码'></ion-input>
    </ion-item>

    <ion-item lines="none" class="list_end">
      <span slot="start">
        密码由6-20位字母、数字、特殊符号组成，注意大小写
      </span>

    </ion-item>
  </ion-list>

  <ion-button  expand="block" class="reg_btn" (click)="doRegister()">完成</ion-button>
