<ion-header>
  <ion-toolbar>
    <ion-searchbar placeholder="搜索" (click)="goSearch()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- 顶部轮播开始 -->
  <ion-slides *ngIf="focusList.length>0" pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let item of focusList">
      <img [src]="config.apiUrl+item.pic" alt="">
    </ion-slide>
  </ion-slides>
  <!-- 顶部轮播结束 -->
  <div class="home_title">
    精品推荐
  </div>
  <div class="slide_product">
    <ul class="clearfix" [ngStyle]="{'width':bestListWidth}">
      <li *ngFor="let item of recList">
        <img src="{{item.pic}}" alt="">

        <p class="rec_shop_detial">{{item.title}}</p>
      </li>
    </ul>
  </div>

  <div class="home_title">
    猜你喜欢
  </div>
  <ion-grid>
    <ion-row>
      <ion-col  align-self-center size="6" *ngFor="let item of recList">
        <img src="{{item.pic}}" alt="">
        
        <p class="hot_shop_detial">{{item.title}}</p>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>