*{
    margin: 0px;
    padding:0px;
}

ion-slides {
    ion-slide {
        height: 150px;
        width: 100%;

        img {
            height: 150px;
            width: 100%;
        }
    }
}

.home_title {
    padding: 5px 8px;
    font-size: 14px;
    color: #666;
    margin: 5px 0px 0px 0px;
}

.home_title:before {
    font-size: 8px;
    border-left: 3px solid red;
    margin-right: 4px;
    position: relative;
    top:-1px;
    content: "";
}

.slide_product{
    overflow: scroll;

    ul {
        list-style: none;
    }
    // padding:.4rem;
    
    li{
        // width: 6.6rem;
        width: 80px;
        // height: 14.8rem;
        height: 120px;
        float: left;
        // margin-right: .6rem;
        margin-right: 10px;
        // .rec_shop_detial{
        //     padding:.4rem 0rem;
        //     margin:0px;
        //     height: 3.2rem;
        //     overflow: hidden;
        // }
        // img{
        //     width:6rem;
        //     height: 6rem;
        //     display: block;
        //     margin:0 auto;
        // }
        p{
            // padding:.2rem 0px;
            padding: 4px;
            margin: 0px;
            text-align: center;
        }
        
    }
}